<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a routerLink="/">Tournaments Record </a>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </mat-menu>

        </li>
      </ul>
    </div>


    <!--<div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row" fxLayoutGap="20px">
      <li>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <mat-icon>help_outline</mat-icon>
        </button>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Sign out
          </button>
        </mat-menu>

      </li>
    </ul>
  </div>-->
  </mat-toolbar-row>



  <!--<div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <mat-icon>help_outline</mat-icon>
        </button>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Sign out
          </button>
        </mat-menu>

      </li>
      </ul>
  </div>-->
</mat-toolbar>


<!--<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <a mat-button class="companyName" routerLink="/">
    <span>Site name</span>
  </a>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button routerLink="/about-us">About us</a>
    <a mat-button routerLink="/prices">Prices</a>
    <a mat-button routerLink="/start-page">Start page</a>
    <a mat-button routerLink="/offer">Offer</a>
    <a mat-button routerLink="/contact">Contact</a>
  </div>

</mat-toolbar>-->
