<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Ahmad Ashi</h2>
            <h4>ahmad.ashi@gmail.com</h4>
        </div>
        <img src="./assets/logo/ahmad.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/counter">Create Tournament</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/fetch-data">Find Tournament</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
